---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="">
		<p class="text-accent-1">hello</p>
		
	</div>
</Layout>